<div class="imagenPrincipal">
    <div class="color"></div>
    <img class="impresora" src="../../assets/c21d543e42b3405e331cadd7bd3cbd24.jpeg" alt="">
    <img class="imagen" src="../../assets/Printopia.svg" alt="">
    <img class="soluciones" src="../../assets/Soluciones en impresión.svg" alt="">
    <button class="btnVerMas">Ver más</button>
</div>
<div class="categorias">
    <p class="pCategorias">Categorias</p>
</div>
<div class="divCategorias">
    <div class="hogar" (click)="mostrarHogar()" >
        <img src="../../assets/hogar.svg" alt="">
        <p>Hogar</p>
    </div>
    <div (click)="mostrarProtesisDentales()" class="protesisDentales">
        <img src="../../assets/protesisDentales.svg" alt="">
        <p class="pProtesisDentales" >Prótesis dentales</p>
    </div>
    <div (click)="mostrarCosplay()" class="cosplayImg">
        <img src="../../assets/Cosplay.svg" alt="">
        <p>Cosplay</p>
    </div>
</div>

<div class="carrusel">
    <div class="fondo" ></div>
    <img src="../../assets/carrusel.png" alt="">
</div>