<div>
    <div class="dImagen">
        <div class="mascara"></div>
        <img src="../../assets/contacto/image190.png" alt="">
    </div>
    <div class="principalContacto">
        <div class="contenedor">
            <div class="izquierda">
                <input type="text" placeholder="Nombre" class="nombre">
                <div class="correoNumero">
                    <input type="text" placeholder="Correo electrónico">
                    <input type="text" placeholder="Numero de orden">
                </div>
            </div>
            <div class="derecha">
                <input type="text" placeholder="Apellido">
                <!-- <input type="text" placeholder="Mensaje" class="mensaje"> -->
                <textarea name="" id="" cols="30" rows="10" placeholder="Mensaje"></textarea>
                <button>Enviar</button>
            </div>
        </div>
    </div>
</div>
