<div class="login">
    <div class="divImg">
        <div class="color" ></div>
        <img src="../../assets/login/1.jpeg" alt="">
    </div>
    <div class="formulario">
        <div class="contenido" >
            <div class="imgLogo">
                <a href="" (click)="mostrarInicio()">
                    <img class="volverInicio" src="../../assets/logo/Group (1).svg" alt="">
                </a>
            </div>
            <div class="dCorreo">
                <img src="../../assets/login/correo.svg" alt="">
                <input type="" placeholder="Correo" class="correo">
            </div>
            <div class="dContraseña">
                <img class="imgContraseña" src="../../assets/login/contraseña.svg" alt="">
                <input type="email" placeholder="Contraseña" class="correo" type="password">
            </div>
            <div class="dButton">
                <button>INICIAR SESIÓN</button>
            </div>
            <p class="pOlvido" >¿Olvido su contraseña?</p>
            <p (click)="mostrarRegistro()" class="pRegistrarse">Registrarse</p>
        </div>
    </div>
</div>
