<div class="login">
    <div class="divImg">
        <img src="../../assets/login/1.jpeg" alt="">
    </div>
    <div class="formulario">
        <div class="contenido" >
            <p>USER LOGIN</p>
            <div class="dCorreo">
                <img src="../../assets/login/correo.svg" alt="">
                <input type="" placeholder="Correo" class="correo">
            </div>
            <div class="dContraseña">
                <img class="imgContraseña" src="../../assets/login/contraseña.svg" alt="">
                <input type="email" placeholder="Contraseña" class="correo" type="password">
            </div>
            <div class="dButton">
                <button>INICIAR SESIÓN</button>
            </div>
            <p class="pOlvido" >¿Olvido su contraseña?</p>
            <p class="pRegistrarse" >Registrarse</p>
        </div>
    </div>
</div>
