.principal {
    .administradorVentas {
        display: flex;
        align-items: center;
        height: 4.18rem;
        background-color: rgba(92, 207, 190, 1);
        font-family: Raleway;
        color: white;
        p {
            margin: 0px 0px 0px 3.12rem;
        }
        .administrador {
            font-weight: 600;
            margin: 0px 0px 0px 6.25rem;
        }
    }
    .dButton {
        height: 6.25rem;
        .button {
            width: 15.75rem;
            height: 3rem;
            border-radius: 6.16rem;
            margin: 1.16rem 0px 0px 4.37rem;
            border: 0px;
            padding: 0px;
            background-color: rgba(253, 185, 0, 1);
            color: white;
            font-family: Raleway;
        }
    }
    .productos {
        display: flex;
        justify-content: center;
        .contenedor {
            table {
                width: 112.5rem;
                font-family: Raleway;
                color: rgba(7, 29, 48, 1);
                thead {
                    tr {
                        th {
                            font-weight: 400;
                        }
                    }
                    .separador {
                        height: 1.87rem;
                    }
                }
                tbody {
                    tr {
                        height: 7.5rem;
                        td {
                            text-align: center;
                            font-size: 0.87rem;
                            .editar {
                                width: 5.5rem;
                                height: 3rem;
                                background-color: rgba(238, 239, 239, 1);
                                border: 0px;
                                padding: 0px;
                                border-radius: 1.06rem;
                                color: rgba(7, 29, 48, 1);
                                font-size: 1rem;
                            }
                        }
                        .tdFoto {
                            width: 5.37rem;
                            height: 5.37rem;
                            img {
                                width: 100%;
                            }
                        }
                        .tdEditar {
                            button {
                                margin-left: 0.62rem;
                            }
                        }
                        .tdBorrar {
                            margin-left: 0.62rem;
                            .borrar {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 2.25rem;
                                height: 2.25rem;
                                border-radius: 50%;
                                border: 0px;
                                padding: 0px;
                                background-color: rgba(1, 127, 141, 1);
                                color: white;
                                margin-left: 0.62rem;
                                cursor: pointer;
                            }
                        }
                    }
                    .linea {
                        height: 3.12rem;
                        padding: 0;
                        hr {
                            width: 102rem;
                            
                            border: 0.13rem solid rgba(253, 185, 0, 1)
                        }
                    }
                }
            }
            .dButton {
                display: flex;
                justify-content: end;
                .buttonAceptar {
                    width: 8.81rem;
                    height: 3rem;
                    border: 0px;
                    padding: 0px;
                    border-radius: 1.06rem;
                    background-color: rgba(92, 207, 190, 1);
                    color: white;
                    font-family: Raleway;
                }
            }
        }
        
    }
}