<div class="contenido">
    <div class="formulario">
        <div class="contenido2" >
            <div class="contLogo">
                <a href="" (click)="mostrarInicio()">
                    <img class="volverInicio" src="../../assets/logo/Group (1).svg" alt="">
                </a>
            </div>
            <div class="dNomApe">
                <input type="text" placeholder="Nombre" class="iNombre">
                <input type="text" placeholder="Apellido" class="iApellido">
            </div>
            <div class="dCorreoContraseña">
                <input type="text" placeholder="Correo">
                <input type="password" placeholder="Contraseña">
                <input type="password" placeholder="Confirmación Contraseña">
            </div>
            <div class="check">
                <input type="checkbox" id="miCheckbox">
                <label class="label" for="miCheckbox">Aceptar términos y condiciones</label>
            </div>
            <button>Registrate</button>
        </div>
    </div>
    <div>
        <img src="../../assets/registro/img.jpeg" alt="">
    </div>
</div>