<div class="contenido">
    <div class="formulario">
        <div class="contenido2" >
            <div class="contLogo">
                <a (click)="mostrarInicio()">
                    <img class="volverInicio" src="../../assets/logo/Group (1).svg" alt="">
                </a>
            </div>
            <div class="dNomApe">
                <input type="text" placeholder="Nombre" class="iNombre" name="nombre" [(ngModel)]="usuario.name">
                <input type="text" placeholder="Apellido" class="iApellido" name="apellido" [(ngModel)]="usuario.lastName">
            </div>
            <div class="dCorreoContraseña">
                <input type="text" placeholder="Correo" name="correo" [(ngModel)]="usuario.email">
                <input type="password" placeholder="Contraseña" name="contraseña" [(ngModel)]="usuario.password">
                <input type="password" placeholder="Confirmación Contraseña" name="confirmacionContraseña" [(ngModel)]="confirmacionContrasenia" (ngModelChange)="comprobarContrasenias()">
            </div>
            <div class="check">
                <input type="checkbox" id="miCheckbox" [(ngModel)]="aceptarTerminos">
                <label class="label" for="miCheckbox">Aceptar términos y condiciones</label>
            </div>
            <div class="alertas">
                <p *ngIf="alertaTerminos">Debes aceptar los términos y condiciones</p>
                <p *ngIf="alertaContrasenas" class="alertaContrasenas">Las contraseñas deben coincidir para registrarte</p>
                <p *ngIf="alertaVacio" class="alertaContrasenas">Por favor complete todos los campos</p>
                <div *ngIf="mostrarCarga">
                    <p class="alerta">Creando usuario... <i class="fas fa-spinner fa-spin" ></i></p>
                </div>
            </div>
            <button (click)="registrar()" class="registrate">Registrate</button>
        </div>
    </div>
    <div>
        <img src="../../assets/registro/img.jpeg" alt="">
    </div>
</div>