.contenido {
    display: flex;
    height: 100vh;
    .formulario {
        display: flex;
        justify-content: center;
        flex-grow: 1;
        text-align: center;
        font-family: Raleway;
        background: #2E76BB;
        box-shadow: inset 0rem 0.25rem 2.75rem 0rem rgba(0, 0, 0, 0.25);
        .contenido2 {
            width: 31.56rem;
            .contLogo {
                display: flex;
                justify-content: center;
                margin-top: 8.60rem;
                margin-bottom: 3.43rem;
                a {
                    width: 7.25rem;
                    height: 6.93rem;
                    .volverInicio {
                        width: 7.25rem;
                        height: 6.93rem;
                        cursor: pointer;
                    }
                }
            }
            .titulo {
                font-size: 1.56rem;
                margin: 9.12rem 0rem 3.12rem 0rem;
                color: white;
            }
            .dNomApe {
                display: flex;
                input {
                    width: 14rem;
                    height: 3.37rem;
                    border: 0rem;
                    border-radius: 2.31rem;
                    padding: 0rem 0rem 0rem 1.25rem;
                    background-color: rgba(238, 239, 239, 1);
                    &::placeholder {
                        color: rgba(7, 29, 48, 1);
                        font-size: 1rem;
                        font-family: Raleway;
                    }
                    &:focus {
                        outline: none;
                    }
                }
                .iNombre {
                    margin-right: 0.62rem;
                }
                .iApellido {
                    margin-left: 0.62rem;
                }
            }
            .dCorreoContraseña {
                display: flex;
                flex-direction: column;
                width: 31.56rem;
                input {
                    border: 0rem;
                    padding: 0rem;
                    height: 3.37rem;
                    border-radius: 2.31rem;
                    padding: 0rem 0rem 0rem 1.25rem;
                    background-color: rgba(238, 239, 239, 1);
                    margin-top: 3.12rem;
                    &::placeholder {
                        color: rgba(7, 29, 48, 1);
                        font-size: 1rem;
                        font-family: Raleway;
                    }
                    &:focus {
                        outline: none;
                    }
                }
            }
            .check {
                display: flex;
                align-items: center;
                position: relative;
                margin-top: 0.62rem;
                margin-left: 1.87rem;
                input {
                    box-shadow: 0.06rem 0.06rem 0.12rem 0rem rgba(0, 0, 0, 0.25);
                }
                .label {
                    margin-left: 0.31rem;
                    font-size: 0.87rem;
                    color: rgba(254, 254, 254, 1);
                }
            }
            .alertas {
                text-align: center;
                p {
                    display: flex;
                    margin: 0.5rem 0rem 0rem 0rem;
                    font-weight: 600;
                    font-size: 1.12rem;
                    color: white;

                }
                .alertaContrasenas {
                    margin: 0.5rem 0rem 0rem 0rem;
                }
            }
            button {
                width: 15rem;
                height: 3.37rem;
                border-radius: 2.31rem;
                margin-top: 5rem;
                border: 0rem;
                padding: 0rem;
                font-size: 1.56rem;
                color: rgba(7, 29, 48, 1);
            }
        }
    }
    img {
        height: 100%;
    }
}







