<div class="principal">
    <div class="contenido">
        <p class="pProductos" >Productos</p>
        <div>
            <div class="dHogar">
                <p>Hogar</p>
                <hr>
            </div>
            <div class="dProductos">
                <div *ngFor="let producto of productos" class="tarjeta">
                    
                </div>
            </div>
        </div>
        <div>
            <div class="dProtesisDentales">
                <p>Prótesis dentales</p>
                <hr>
            </div>
            <div class="dProductos">
                <div *ngFor="let producto of productos" class="tarjeta">
                    
                </div>
            </div>
        </div>
        <div>
            <div class="dCosplay">
                <p>Cosplay</p>
                <hr>
            </div>
            <div class="dProductos">
                <div *ngFor="let producto of productos" class="tarjeta">
                    
                </div>
            </div>
        </div>
    </div>
</div>