<div class="piePagina" >
    <div>
        <p>Contacto</p>
        <div class="contacto1">
            <div class="contacto">
                <img class="imgUbicacion" src="../../assets/ubicacion.svg" alt="">
                <p class="items">Dirección</p>
            </div>
            <div class="correo">
                <img src="../../assets/email.svg" alt="">
                <p class="items">correo@electrónico</p>
            </div>
        </div>
    </div>
    <div>
        <p>Información</p>
        <div>
            <p class="items">Tiendas</p>
            <p class="items" >Nuestra marca</p>
        </div>
    </div>
    <div>
        <p>Ayuda</p>
        <div>
            <p class="items" >Términos y condiciones</p>
            <p class="items">Políticas de privacidad</p>
        </div>
    </div>
</div>