<div class="logo" [class.productos-activados]="estiloEncabezado">
    <p class="mInicio" (click)="mostrarInicio()">
        <img src="../../assets/logo/Group (1).svg" alt="">
    </p>
    <div class="enlaces">
        <p (click)="mostrarProductos()" >Productos</p>
        <p>Servicios</p>
        <p (click)="mostrarContacto()" class="contacto">Contacto</p>
    </div>
    <div class="loginCarrito">
        <div class="sinIniciar" *ngIf="!inicioSesion">
            <p class="login" (click)="mostrarLogin()">
                <img src="../../assets/login.svg" alt="">
            </p>
            <img src="../../assets/carrito.svg" alt="" class="carrito">
        </div>
        <div class="iniciada" *ngIf="inicioSesion">
            <div class="sesion" (click)="mostrarAdministradorProductos()">
                <img class="sesionIniciada" src="../../assets/sesionIniciada.svg" alt="">
                <p class="pSesion" >¡Hola! Juan Carlos</p>
            </div>
            <p class="pFinalizar" (click)="finalizarSesion()">
                <img class="finalizarSesion" src="../../assets/finalizarSesion.svg" alt="">
            </p>
        </div>
    </div>
</div>