<div class="logo" [class.productos-activados]="productos">
    <p class="mInicio" (click)="mostrarInicio()">
        <img src="../../assets/logo/Group (1).svg" alt="">
    </p>
    <div class="enlaces">
        <p (click)="mostrarProductos()" >Productos</p>
        <p>Servicios</p>
        <p>Contacto</p>
    </div>
    <div class="loginCarrito">
        <p class="login" (click)="mostrarLogin()">
            <img src="../../assets/login.svg" alt="">
        </p>
        <img src="../../assets/carrito.svg" alt="" class="carrito">
    </div>
</div>